body{
    background-color: snow;
}

header{
    text-align: center;
    color: firebrick;
    font-size: 1.5vw;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user img{
    width: 80%;
    border-radius: 50%;
    border: 2px black solid;
}

.enlace{
   margin: 5vw;
   font-size: 5vw;
   
}

.enlace a{
    text-decoration: none;
    color: darkgoldenrod;
    text-align: center;
    font-size: 2vw;
    
}

.enlace a:hover{
    color: darkorchid;
}

.especial img{
    width: 3vw;
}

.especial{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

