.enlace{
    text-align: center;
}

.enlace a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 2vw;
}

.enlace a:hover{
    color: lightsalmon;
}

.enlace img{
    width: 3vw;
}