.nombre {
    color: white;
    background-color: black;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-bottom: 0.3vw;
    padding-top: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.contactos{
    background-color: #c78319;
    color: white;
    list-style-type: none;
    padding: 1vw;
}

.contactos li{
    margin: 1vw;
    text-align: center;
}

.contactos li a{
    text-decoration: none;
    color: white;
}

.contactos li a:hover{
    color: blue;
}

.idiomas{
    background-color: #282a2c;
    list-style-type: none;
    padding: 0.5vw;
    text-align: center;
}
.idiomas li{
    margin: 1vw;
}

#imagen img{
    float: right;
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2vw;
}

.lateral{
    font-weight: bold;
    font-size: 2vw;
    clear: both;
}

.perfil{
    color: black;
}

.side{
    width: 10%;
    float: left;
    transform: rotate(90deg);
    height: 100%;
}

.side img{
    height: 100%;
    width: 100%;
}

.centro{
    width: 80%;
    float: left;
    height: 100%;
}

.noredondoP{
    height: 80%;
}

.noredondoE{
    height: 80%;
    padding: 4vw;
}

.redondoH {
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 20%;
    border-radius: 10vw;
    background-color: black;
    text-align: center;
    clear: both;
}

.redondoH h3{
    padding: 0.6vw;
}

.fechas{
    border-right: 1px black solid;
    float: left;
    margin-right: 2vw;
    padding-right: 2vw;
 
}

.infomacion{
    color: #3f4650;
    float: left;
}

.enlace{
    text-align: center;
}

.enlace a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 2vw;
}

.enlace a:hover{
    color: lightsalmon;
}

.enlace img{
    width: 3vw;
}